<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZODIA | CELEBRITIES</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="../css/cards.css">
</head>

<body>

  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title" style="color: ghostwhite;">ZODIA | CELEBRITIES</h1><br>
        </div>
      </div>
      <div id="app" class="row columns is-multiline">

        <body>
          <% for( let index=0; index < celebrities.length; index++ ) { %>
            <% let a=celebrities[index]; %>
              <% a=a.toJSON() %>
                <p>
                  <%= a.name %>
                </p>
                <a href="/celebrities/<%= a.id %>">View</a>
                <hr>
                <% } %>

        </body>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <a href="/celebrities/new/">Add New Celebrity</a><br><br>
        <a href="/signs/"> See All Signs</a>
      </div>
    </div>
  </footer>

</body>

</html>