<form method="POST" action="/celebrities">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="dob">Birthdate</label>
    <input id="dob" type="text" name="dob">

    <label for="sign_name">Sign Name</label>
    <input id="sign_name" type="text" name="sign_name">

    <input type="submit">
</form>