<form method="POST" action="/signs">
    <label for="sign_name">Sign Name</label>
    <input type="text" name="sign_name">
  
    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="background">Background</label>
    <input id="background" type="text" name="background">

    <label for="dates">Dates</label>
    <input id="dates" type="text" name="dates">
  
    <input type="submit">
  </form>